<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title TriLASTIN
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.header-top
          .container
            .row
              .col-md-3
                .hotline
                  a(href='tel:0903983606')
                    i.mdi.mdi-deskphone
                    | 0903 983 606
              
              .col-md-9.text-right.d-none.d-md-block
                ul
                  li
                    a(href='#') Thông tin sản phẩm
                  li
                    a(href='#') Hỏi đáp
                  li
                    a(href='#') Phương thức vận chuyển 
                  li
                    a(href='#') Hàng trả về
              
        section.menu.wow
          .container
            .row
              .col-lg-2.col-6
                .logo
                  a(href='index.html')
                    img(src='../img/logo.png')

              .col-lg-9.col-0.order-last.order-lg-0
                .main-menu
                  ul.nav
                    .nav-close
                      i.mdi.mdi-close.d-block.d-lg-none
                    li.nav-item
                      a.nav-link(href='index.html') Trang chủ
                    li.nav-item
                      a.nav-link(href='san-pham.html') Ưu đãi giảm giá
                    li.nav-item
                      a.nav-link(href='san-pham.html') Kem thai sản
                    li.nav-item
                      a.nav-link(href='san-pham.html') Kem rạn da
                    li.nav-item
                      a.nav-link(href='giay-phep.html') Giấy phép
                    li.nav-item
                      a.nav-link(href='lien-he.html') Liên hệ

              .col-lg-1.col-6.text-right
                .custom-header
                  a.toggleMenu.d-inline-block.d-lg-none
                    i.mdi.mdi-menu
                  a.cart-btn(href='gio-hang.html', title='Nhấn để xem giỏ hàng')
                    i.mdi.mdi-cart-outline
                    span (10)  
                

        .overlay-menu

      
    article
      block article


    
    block footer
      section.letter
        .container
          .row
            .col-md-6.text-center.text-md-left.mb-3.mb-md-0
              span Liên kết với chúng tôi:
              a(href='#')
                i.mdi.mdi-facebook
              a(href='#')
                i.mdi.mdi-twitter
              a(href='#')
                i.mdi.mdi-youtube
              a(href='#')
                i.mdi.mdi-google-plus
            .col-md-6.text-center.text-md-right
              form
                input.form-control(type="text", placeholder="Nhập email để nhận được tin ưu đãi")
                button(type="submit") ĐĂNG KÝ


      section.footer
        .container
          .row
            .col-xl-3.col-lg-4.col-sm-6
              .contact
                h4 
                  | THÔNG TIN CHUNG
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | 99 Nguyễn Duy Dương, Phường 9, Quận 5, TP.HCM

                  li
                    i.mdi.mdi-deskphone
                    | 028.3830 7073 - 0903 983 606
                  li
                    i.mdi.mdi-email-outline
                    | thienbangbeauty@yahoo.com
                  li
                    i.mdi.mdi-fax
                    | Fax: 028.3835 2634
                  li
                    i.mdi.mdi-note-outline
                    | Mã số thuế: 0308 992 036
            .col-xl-3.col-lg-2.col-sm-6
              .link
                h4 
                  | Tổng quan
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='hoi-dap.html') Hỏi đáp
                  li
                    a(href='bao-dam.html') Bảo đảm
                  li
                    a(href='gioi-thieu.html') Giới thiệu về TriLASTIN
                  li
                    a(href='he-thong-phan-phoi.html') Hệ thống phân phối
                  li
                    a(href='lien-he.html') Liên hệ
            
            .col-xl-3.col-lg-3.col-sm-6
              .support
                h4 
                  | THÔNG TIN KHÁCH HÀNG
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='cham-soc-khach-hang.html') Chăm sóc khách hàng
                  li
                    a(href='thong-tin-van-chuyen.html') Thông tin vận chuyển
                  li
                    a(href='hang-tra-ve.html') Hàng trả về
                  
            
            .col-xl-3.col-lg-3.col-sm-6
              .statistical
                h4 
                  | Chính sách
                  i.mdi.mdi-chevron-down
                
                ul
                  li
                    a(href='chinh-sach.html') Chính sách & Quy định chung
                  li
                    a(href='chinh-sach.html') Chính sách đổi/trả hàng và hoàn tiền
                  li
                    a(href='chinh-sach.html') Chính sách vận chuyển, giao nhận
                  li
                    a(href='chinh-sach.html') Quy định và hình thức thanh toán
                  li
                    a(href='chinh-sach.html') Chính sách bảo mật thông tin
                  li
                    a(href='chinh-sach.html') Chính sách bảo hành
                  
          .copyright.text-center.text-md-left
            .row
              .col-md-7
                h5 Copyright @ 2019 TriLASTIN. All Reserved. Designed by Tri Viet
              .col-md-5.text-center.text-md-right
                ul.mt-2.mt-md-0
                  li
                    a(href='san-pham.html') Ưu đãi giảm giá
                  li
                    a(href='san-pham.html') Kem thai sản
                  li
                    a(href='san-pham.html') Kem rạn da
                  
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/jquery.hoverdir.js')
      script(src='../js/modernizr.custom.97074.js')
      script(src='../js/layout.js')
