extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        a(href='san-pham.html')
          img(src='../img/slider-1.png')
      .item
        a(href='san-pham.html')
          img(src='../img/slider-2.png')

  section.about
    .container
      .row
        .col-md-5
          .about-img
            img(src='../img/bg-about.png')
        .col-md-7
          .about-detail
            .title-page
              h1 CÔNG TY TNHH MTV THIÊN BĂNG
            h4 Nhà Phân Phối Độc Quyền Trilastin Tại Việt Nam
            p Trilastin đem lại cho bạn những giải pháp chăm sóc da chuyên biệt cho những vùng da bị rạn nứt. Công thức không gây kích ứng da Trilastin giúp da bạn phục hồi và duy trì vẻ đẹp tự nhiên của làn da, cung cấp các thành phần thiết yếu hỗ trợ cho việc tái tạo phục hồi để có được làn da săn chắc mịn màng hơn. 
            p Dòng sản phẩm săn chắc da làm mịn vùng da bị sần giảm xuất hiện vết sần trên da bằng cách làm mịn săn chắc vùng da bị chảy nhão và chảy xệ. 
            p Trilastin với công thức đặc biệt chiết xuất từ thảo mộc giúp tối đa hóa độ đàn hồi của da và ngăn ngừa sự xuất hiện của những vết sẹo rạn da thông qua việc giữ độ ẩm và độ đàn hồi trong suốt quá trình mang thai. Trilastin mang đến giải pháp hoàn hảo đánh tan nỗi lo về rạn da và chảy xệ giúp làn da thai phụ luôn săn chắc và mịn màng...

            .about-detail-btn
              a(href='gioi-thieu.html') xem chi tiết

  section.why
    .why-img(style="background-image: url('../img/bg-why.png')")

    .why-detail
      .why-detail-zone
        .title-page
          h1 TẠI SAO PHẢI CHỌN TRILASTIN?
        p Khoảng 80% dân số trải qua các vết rạn da - và nhiều người không muốn những vết giống như sọc có thể xuất hiện màu trắng, tím, đỏ hoặc thậm chí là bạc. 
        p Sự thật là, bạn không phải sống với những vết rạn da. Mặc dù chúng vô hại về mặt thể chất, chúng có thể khiến chúng ta cảm thấy tự ti về cơ thể mình. Bạn không cần phải đặt một liệu pháp laser đắt tiền hoặc tạo ra các biện pháp khắc phục vết rạn da DIY, bởi vì TriLASTIN cung cấp các loại kem trị rạn da và các sản phẩm thực sự có tác dụng loại bỏ các vết rạn và sẹo không mong muốn. 
        p TriLASTIN là câu trả lời để loại bỏ các vết rạn da và thậm chí ngăn ngừa các vết rạn da hình thành. Mang thai, tăng cân tự nhiên, dậy thì và thể hình là những nguyên nhân hàng đầu của rạn da. Vết rạn da có thể xuất hiện ở tất cả các độ dài và màu sắc khác nhau, và thường được tìm thấy trên chân, đùi, mông, bụng, cánh tay và đôi khi là ngực.

  section.result
    .container
      ul
        li
          .box-result
            .box-result-in.text-center
              img(src='../img/result-1.png')
              h4 Giảm rõ rệt các đường rạn da
              h5 Praesent eu dolor eu orci vehicula euismod. Vivamus sed sollicitudin libero, vel malesuada velit. Nullam et maximus lorem
          span

        li.order-first.order-lg-0
          .box-result
            .box-result-in.text-center
                .title-page
                  h1 KẾT QUẢ SAU 3-4 TUẦN SỬ DỤNG TRILASTIN

          span
        
        li
          .box-result
            .box-result-in.text-center
              img(src='../img/result-2.png')
              h4 Thắt chặt da lỏng lẻo
              h5 Praesent eu dolor eu orci vehicula euismod. Vivamus sed sollicitudin libero, vel malesuada velit. Nullam et maximus lorem

          span
        
        li
          .box-result
            .box-result-in.text-center
              img(src='../img/result-3.png')
              h4 Da mịn màng và dẻo dai hơn
              h5 Praesent eu dolor eu orci vehicula euismod. Vivamus sed sollicitudin libero, vel malesuada velit. Nullam et maximus lorem

          span
        
        li
          .box-result
            .box-result-in.text-center
              img(src='../img/result-4.png')
              h4 Tăng độ đàn hồi cho da
              h5 Praesent eu dolor eu orci vehicula euismod. Vivamus sed sollicitudin libero, vel malesuada velit. Nullam et maximus lorem

          span
        
        li
          .box-result
            .box-result-in.text-center
              img(src='../img/result-5.png')
              h4 Làm mờ sẹo
              h5 Praesent eu dolor eu orci vehicula euismod. Vivamus sed sollicitudin libero, vel malesuada velit. Nullam et maximus lorem

          span
        
  section.product-home
    .container
      .title-page
        h1 SẢN PHẨM CỦA CHÚNG TÔI
      
      .box-product
        .row
          .col-md-6.order-first.order-md-last
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/banner-1.png')
          .col-md-6
            .box-product-detail
              h5 sản phẩm chính
              h1
                a(href='chi-tiet-san-pham.html') KEM RẠN DA TRILASTIN
              p 
                b Rạn da ư ? Bạn không cần phải quá lo lắng. 
              p Trilastin thổi bay rạn da chỉ trong 03 tuần sử dụng sản phẩm.Hiệu quả đã được chứng minh...Bạn không tin ư...Hãy dùng thử và kiểm nghiệm hiệu quả...chỉ sau 03 tuần sử dụng những vết rạn da lâu năm đã được giảm đi trông thấy. Với mong muốn mang đến dòng sản phẩm chăm sóc da tốt nhất cho chị em phụ nữ....Trilastin luôn mang đến vẻ đẹp rạng ngời cùng làn da săn chắc....Xóa tan những âu lo của bạn.
              .box-product-detail-btn 
                a(href='chi-tiet-san-pham.html') Xem chi tiết
      
      .box-product
        .row
          .col-md-6
            .box-product-img
              a(href='chi-tiet-san-pham.html')
                img(src='../img/banner-2.png')
          .col-md-6
            .box-product-detail
              h5 sản phẩm chính
              h1
                a(href='chi-tiet-san-pham.html') KEM THAI SẢN TRILASTIN
              p Mang thai là một trải nghiệm tuyệt vời, Trilastin thấu hiểu cảm giác của bạn...nhằm giúp bạn có làn da mịn màng trong thời kỳ thai sản...Trilastin cung cấp dòng sản phẩm Kem dưỡng da dành cho thai sản.Giúp bảo vệ làn da của bạn một cách tốt nhất trong thời kỳ thai sản và hậu thai sản... 
              p Làn da của bạn được bảo vệ bởi những chất làm mềm da...sản phẩm tốt nhất dành tặng cho chị em phụ nữ trong thời kỳ thai sản và hậu Thai Sản.
              .box-product-detail-btn 
                a(href='chi-tiet-san-pham.html') Xem chi tiết
      
      