extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Tất cả sản phẩm

  section.product-page
    .container
      .left
        .category
          h4 Danh mục sản phẩm
          ul 
            li
              a(href='san-pham.html') Tất cả sản phẩm
            li
              a(href='san-pham.html') Ưu đãi giảm giá
            li
              a(href='san-pham.html') Kem thai sản
            li
              a(href='san-pham.html') Kem rạn da
      
      .main
        h2 Tất cả sản phẩm
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quo quas vitae eligendi tenetur voluptates? Quidem consequuntur maxime quaerat, cumque, illum modi accusamus amet corrupti ab, odit itaque quis eum!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quo quas vitae eligendi tenetur voluptates? Quidem consequuntur maxime quaerat, cumque, illum modi accusamus amet corrupti ab, odit itaque quis eum!

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h3
              a(href='chi-tiet-san-pham.html') TriLASTIN-HT Hydro-Thermal Accelerator
            h4
              | 600.000 VNĐ 
              span 601.000 VNĐ
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt, fugiat quidem quod architecto, aperiam sed maxime aliquid exercitationem fuga maiores. Provident fugit sequi sunt optio voluptas cum nam a.
            .box-product-detail-btn
              a(href='chi-tiet-san-pham.html') Xem chi tiết

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h3
              a(href='chi-tiet-san-pham.html') TriLASTIN-HT Hydro-Thermal Accelerator
            h4
              | 600.000 VNĐ 
              span 601.000 VNĐ
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt, fugiat quidem quod architecto, aperiam sed maxime aliquid exercitationem fuga maiores. Provident fugit sequi sunt optio voluptas cum nam a.
            .box-product-detail-btn
              a(href='chi-tiet-san-pham.html') Xem chi tiết

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-1.png')
          .box-product-detail
            h3
              a(href='chi-tiet-san-pham.html') TriLASTIN-HT Hydro-Thermal Accelerator
            h4
              | 600.000 VNĐ 
              span 601.000 VNĐ
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt, fugiat quidem quod architecto, aperiam sed maxime aliquid exercitationem fuga maiores. Provident fugit sequi sunt optio voluptas cum nam a.
            .box-product-detail-btn
              a(href='chi-tiet-san-pham.html') Xem chi tiết

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html')
              img(src='../img/product-2.png')
          .box-product-detail
            h3
              a(href='chi-tiet-san-pham.html') TriLASTIN-HT Hydro-Thermal Accelerator
            h4
              | 600.000 VNĐ 
              span 601.000 VNĐ
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt, fugiat quidem quod architecto, aperiam sed maxime aliquid exercitationem fuga maiores. Provident fugit sequi sunt optio voluptas cum nam a.
            .box-product-detail-btn
              a(href='chi-tiet-san-pham.html') Xem chi tiết

        